.poll-container {
    display: flex;
    flex-direction: column;
    background-color: #ececfa;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
}

.poll-container.result {
    flex-direction: row !important;
    gap: 75px;
}

.poll-pie {
    width: 400px;
}

.poll-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    justify-content: center;
    gap: 35px;
}

.poll-form .option-button {
    width: 70% !important;
    margin: auto;
    height: 50px;
    color: white;
    background-color: darkslateblue;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}