.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
  }
  
  .nav li:first-child {
    padding-left: 0;
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: #252525;
  }

.dashboard-container {
  display: flex;
  flex-direction: column;
}

.dashboard-container .filter {
  width: 300px;
  height: 30px;
  margin: auto;
}

.dashboard {
  display: flex;
  width: 75%;
  margin: auto;
  margin-top: 50px;
  gap: 20px;
}

.dashboard > div {
  border: 1px dotted black;
  height: 500px;
  width: 90%;
}

.dashboard > div > h3 {
  margin: auto 10px;
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.poll-list {
  overflow-y: scroll;
  height: 400px;
}

.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  margin: 20px auto
}

.card > img {
  width: 100px;
  height: 100px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}